html 
    head 
        link(rel='stylesheet', href='/static/css/styles.css')

    body 
        include includes/nav.pug
        include includes/header.pug

        div(class="container px-4 px-lg-5 mt-5")
            include includes/form.pug

            if added
                include includes/alert.pug

        section(class="py-5")
            div(class="container px-4 px-lg-5 mt-5")
                div(class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center")
                    each product in products.length ? products : [{title: "Example Product", price: 500}]
                        div(class="col mb-5")
                            div(class="card h-100")
                                img(class="card-img-top" src=product.thumbnail alt="...")
                                div(class="card-body p-4")
                                    div(class="text-center")
                                        h5(class="fw-bolder")= product.title
                                        p= `$${product.price}`
        script(src="/static/js/scripts.js")